@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/fira-sans-v11-latin-regular.woff') format('woff')
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/fira-sans-v11-latin-italic.woff') format('woff')
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/fira-sans-v11-latin-700.woff') format('woff')
}