{# From Andy's course on Eleventy #}
{% set pageTitle = title + ' - ' + site.name %}

{# We don't want any duplication. This is likely for the home page. #}
{% if site.name === title %}
  {% set pageTitle = title %}
{% endif %}

{% set siteTitle = site.name %}
{% set currentUrl = site.url + page.url %}

{# If the page’s Front Matter has specific metaTitle and/or metaDesc items, switch 
  them into the mix. #}
{% if metaTitle %}
  {% set pageTitle = metaTitle %}
{% endif %}

{% if not metaDesc %}
  {% set metaDesc = summary %}
{% endif %}


<title>{{ pageTitle }}</title>
<link rel="canonical" href="{{ currentUrl }}"/>

<meta property="og:site_name" content="{{ siteTitle }}"/>
<meta property="og:title" content="{{ pageTitle }}"/>
<meta content="website" property="og:type"/>
<meta property="og:url" content="{{ currentUrl }}"/>

{% if socialImage %}
  <meta content="summary_large_image" name="twitter:card"/>
  <meta property="og:image" content="{{ socialImage }}"/>
  <meta name="twitter:image" content="{{ socialImage }}"/>
  <meta content="Page image for {{ site.name }}" property="og:image:alt"/>
  <meta content="Page image for {{ site.name }}" name="twitter:image:alt"/>
{% endif %}

{% if metaDesc %}
  <meta name="description" content="{{ metaDesc }}"/>
  <meta name="twitter:description" content="{{ metaDesc }}"/>
  <meta property="og:description" content="{{ metaDesc }}"/>
{% endif %}

<link rel="icon" href="/images/meta/favicon.svg" type="image/svg+xml" />